<!-- 3rd party libs -->
<script src="/js/3rdparty/jquery-3.1.1.min.js"></script>
<script src="/js/3rdparty/moment-2.15.1.min.js"></script>
<script src="/js/3rdparty/bootstrap-3.3.7.min.js"></script>
<script src="/js/3rdparty/xregexp-3.1.1.js"></script>
<script src="/js/3rdparty/angular-1.5.8.min.js"></script>
<script src="/js/3rdparty/ui-bootstrap-tpls-2.1.4.min.js"></script>
<script src="/js/3rdparty/angular-loading-bar-0.9.0.min.js"></script>

<!-- Angular -->
<script src="/js/angular/clientValidation/clientValidator.module.js"></script>
<script src="/js/angular/communication/request.module.js"></script>
<script src="/js/angular/communication/response.module.js"></script>
<script src="/js/angular/messages/messages.module.js"></script>
<script src="/js/angular/app.module.js"></script>
<script src="/js/angular/form.module.js"></script>

</body>
</html>