<script src="/js/3rdparty/jquery-3.1.1.min.js"></script>
<script src="/js/3rdparty/moment-2.15.1.min.js"></script>
<script src="/js/3rdparty/bootstrap-3.3.7.min.js"></script>
<script src="/js/3rdparty/bootstrap-datetimepicker-4.17.42.min.js"></script>
<script src="/js/3rdparty/xregexp-3.1.1.js"></script>
<script src="/js/3rdparty/angular-1.5.8.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/communication.js"></script>
<script src="/js/clientValidator.js"></script>
</body>
</html>