<script src="/js/3rdparty/jquery-3.1.1.min.js"></script>
<script src="/js/3rdparty/moment.min.js"></script>
<script src="/js/3rdparty/bootstrap.min.js"></script>
<script src="/js/3rdparty/bootstrap-datetimepicker.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/communication.js"></script>
</body>
</html>