<div class="alert alert-{{msg.messageType}} alert-dismissible" role="alert" ng-repeat="msg in messages">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	{{msg.message}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
