<%- include('./partials/header') %>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Registration</h2>
		</div>
		<div class="col-md-push-3 col-md-6 col-xs-12">
			<%- include('./partials/messagebox', {
				shownMessages: shownMessages
			}) %>
			<!--<form method="POST">-->
				<div id="status-feedback-name" class="form-group has-feedback">
					<label for="name">Name</label><span class="required-field"> *</span>
					<input type="text" class="form-control" name="name" id="name" placeholder="Name" required autofocus="true" onblur="clientValidator.validateField({field:this,fieldName:'name'})" />
					<span id="status-icon-name" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<div id="status-message-name" class="help-block with-errors"></div>
				</div>

				
				<div id="status-feedback-occupation" class="form-group">
					<label for="occupation">Occupation</label>
					<div class="input-group">
						<div class="input-group-btn">
							<button type="button" id="birthday-select-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="-1">Select... <span class="caret"></span></button>
							<ul id="occupationsList" class="dropdown-menu">
								<% occupations.forEach(function (occ) { -%>
									<li><a data-target="#" onclick="$('#occupation').val($(this).text()).focus()"><%= occ %></a></li>
								<% }) -%>
							</ul>
						</div>
						<input type="text" class="form-control" name="occupation" id="occupation" placeholder="... or enter occupation" onkeyup="this.value=autoComplete(event,this.value)" onkeydown="if(event.keyCode==9){$('#occupationsList').parent().removeClass('open');}" onblur="clientValidator.validateField({field:this,fieldName:'occupation'})" />
						<span id="status-icon-occupation" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					</div>
					<div id="status-message-occupation" class="help-block with-errors"></div>
				</div>


				<div id="status-feedback-email" class="form-group has-feedback">
					<label for="email">Email</label><span class="required-field"> *</span>
					<input type="text" class="form-control" name="email" id="email" placeholder="Email address" required onblur="clientValidator.validateField({field:this,fieldName:'email'})" />
					<span id="status-icon-email" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<div id="status-message-email" class="help-block with-errors"></div>
				</div>

				<div class="form-group">
					<label for="birthday">Birthday</label>
					<div class="row">
						<div class="col-md-6">
							<div id="birthdaypicker"></div>
						</div>
						<div class="col-md-6"></div>
					</div>
				</div>

				<input type="submit" class="btn btn-primary" value="Register" onclick="request.create();request.send()" /><img id="progress-icon" src="/image/progress.gif">

				<div class="row">&nbsp;</div>

			<!--</form>-->
		</div>
	</div>
</div>

<%- include('./partials/footer') %>
